*, ::after, ::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Courier New', Courier, monospace;
	
}
#logo {
	width: 30px;
	height: 60px;
	margin-top: 2.5rem;
	margin-left: auto;
	margin-right: auto;
}

.parallax { 
    /* The image used */
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a3/Wall_Food_10489_%2815825300172%29.jpg");
	/* background-image: url('https://cdn.pixabay.com/photo/2015/07/10/17/53/cheers-839865_1280.jpg'); */
    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
	padding: .35rem;
	border-radius: 50%;
	border: none;
	outline: none;
	
}
input {
	padding: 2.5px;
	margin-right: 10px;
}
#titlebox {
	display: flex;
	justify-content: center;
	align-items: center;
}



#titlebox h1 {
	color: rgb(216, 153, 17);
	text-align: center;
	/* margin: 5rem 0; */
	padding-top: 2.5rem;	
}

#titlebox span {
	font-size: 2.5rem;
	font-weight: bold;
	color: rgb(216, 153, 17);
}
#slogan h3 {
	color: rgb(216, 153, 17);
	text-align: center;
	/* margin: 5rem 0; */
	padding-top: 2.5rem;	
}

.carousel {
	margin: 40px 0;
}

.carousel h3, p {
	/* color: rgb(216, 153, 17); */
	text-align: center;
}
.carousel p {
	font-weight: bold;
	font-size: 1.1rem;
	/* color: white; */
	
}


header {
	position: fixed;
	top: 0;
	margin: .5rem .5rem;
	padding: 0;
}
#maincontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* margin-top: 3rem; */
}

#searchbox{
	margin-top: 2rem;
}

#searchbox input {
	margin-right: 1rem;
}

#footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 150px;
	background-color: black;
	width: 100%;
	bottom: 0;	
	margin-top: 2.5rem;
	padding-bottom: 2rem;
}

#footerlogo{
	color: pink;
	font-weight: bold;
	font-size: 1.4rem;
}

#footerlogo img {
	width: 12.5rem;
	height: 7.5rem;
	margin-top: .5rem;
	
}
#footerlogo p {
	margin: 0;
	padding: 0;
}

.socialicons {
	margin: 2rem 0 0 1rem;
}


.brewcards {
	margin-top: 20px;
}
#newslettersignup {
	margin: 2rem 0 2rem 1rem;
}


#newslettersignup input{
	margin-right: 1rem;
}

#visit {
	color: white;
}
#visit p {
	margin: 0;
	padding: 0;
}
#visit p:first-child {
	margin-top: 1rem;
}

#slideshow {
	margin-bottom: 25px;
}
#about {
	display: flex;
	justify-content: center;
	width: 60%;
	margin: 5rem 0;
	text-align: center;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
}


